@model List<JBNClassLibrary.AdvertisementArea>

@using (Ajax.BeginForm("UpdateAdArea", "AdMatrixMaster", null, new AjaxOptions
{
    OnSuccess = "onSuccess_Ajax",
    HttpMethod = "post",
    LoadingElementId = "progress"
}))
{
    <h4 class="card-title">Advertisement Area Master</h4>
    <div class="row" style="max-height:500px;overflow:scroll;">
        <table id="dataGrid" class="table table-bordered dataGrid">
            <thead>
                <tr>
                    <th>
                        Advertisement Area
                    </th>
                    <th>
                        Matrix
                    </th>
                    <th>
                        OLd Matrix
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    if (Model.Count() > 0)
                    {
                        int j = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.HiddenFor(a => a[j].ID, new { @class = "clsrate" })
                                    @Html.DisplayFor(a => item.AdvertisementAreaName, new { @style = "border:none" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(a => a[j].AdAreaMatrix, new { @class = "form-control clsbaserate", @onchange = "matrixChanged(this)", @onkeypress = "return isdecimalKey(event);", @autocomplete = "off" })
                                </td>
                                <td>
                                    @Html.DisplayFor(a => item.OldMatrix, new { @style = "border:none" })
                                </td>
                            </tr>
                            j++;
                        }

                    }
                }
            </tbody>
        </table>
    </div>
    <div class="clear"></div>
    <div class="text-center">
        @if (Session["MenuMaster"] != null)
        {
            var MenuMaster = (List<JBNClassLibrary.FormPermissionItem>)Session["MenuMaster"];
            if (MenuMaster.Any(m => m.SubMenuName.ToLower() == "adtypematrix" && m.IsCreate == true) || Session["RoleID"].ToString() == "1")
            {
                <button type="submit" class="btn btn-primary">Save</button>
            }
        }
    </div>
}

